<div id="sidebar-wrapper">
	<ul class="sidebar-nav">
	    <li class="sidebar-brand">
	       <a href="#">
	            Dashboard
	        </a>
        </li>
        <li>
            <a href="#">HOME</a>
        </li>
        <li>
            <a href="#">EMPLOYEE MANAGER</a>
        </li>
        <li>
            <a href="#">MENU MANAGER</a>
        </li>
        <li>
            <a href="#">INVENTORY MANAGER</a>
        </li>
        <li>
            <a href="#">DELIVERY MANAGER</a>
        </li>
        <li>
            <a href="#">VIRTUAL KIT <sup>&reg;</sup>  MANAGER</a>
        </li>
	</ul>
</div>